<nav class="nav-extended grey darken-3">
  <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo center">Storybook</a>
      <ul id="slide-out" class="sidenav">
        <li><a href="/stories">Stories</a></li>
        <li><a href="/public">Public stories</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
    </div>
  </div>
</nav>