  <div class="container login-container">
    <div class="card">
      <div class="card-content">
        <h3><i class="fas fa-book-reader"></i> Storybook</h3>
        <div class="section">
          <p class="flow-text">Publish your story of your life for yourself or public.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <a href="/auth/google" class="btn red darken-2">
            <i class="fab fa-google left"></i> Log In with Google
          </a>
        </div>
      </div>
    </div>
  </div>